requests
pycryptodome
wmi
uuid
urllib3
tk
pathlib
maskpass
keyboard
tqdm
pandas
pyOpenSSL
websockets
rpc.py
hashlib
discord-rpc.py
discord-rpc
playsound
colorama
requests_toolbelt
discord_webhook
discord_rpc.py
plyer